*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.burger-link{
    text-decoration: none;
    color: #121212;
}
.header-desk {
    display: none;
}
.header-icons {
    display: flex;
    justify-content: space-between;
    border: 1px solid #121212;
}

.header-ic {
    border: 1px solid #121212;
    width: 10%;
}

.ham {
    padding: 5px 0px;
    text-align: center;
    font-size: 1.1rem;
    border-right: 2px solid #121212 ;
}

.shopbag {
    border-left: 2px solid #121212 ;
    padding-top: 5px;
    text-align: center;
    font-size: 1.1rem;
}

.mobile-ham li {
    padding: 10px;
    background-color: #808080;
    text-align: center;
    
}

.mobile-ham {
    width: 200px;
    margin:  0 auto;
}

.mobile-ham a {
    text-decoration: none;
    color: #121212;
    display: block; 
    cursor: pointer;
}


@media (min-width: 1024px) {
    .header {
        display: none;
    }
    .header-desk  {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #121212;
        width: 100%;
    }
    .shop-contact, .sign-cart {
        display: flex;
    }
    .header-desk  p {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

    }
    .header-desk .shop-desk,
    .header-desk .contact-desk,
    .header-desk .sign-desk,
    .header-desk .cart-desk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #121212;
    } 
}

@media (min-width: 1440px) {


    .header {
        display: none;
    }
    .header-desk  {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #121212;
        width: 100%;
    }
    
    .header-desk  p {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

    }
    .header-desk .shop-desk,
    .header-desk .contact-desk,
    .header-desk .sign-desk,
    .header-desk .cart-desk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #121212;
    }
}